@page "/SupplierReg"
<h3>Supplier Registration</h3>

<p>Your task:</p>

<ol>
    <li>Create a Supplier Model with the fields - First Name, Second Name, Email and Phone number.</li>
    <li>Create a database table - Supplier.</li>
    <li>Create a registration form with the above fields.</li>
    <li>Display the saved details.</li>
</ol>


@code {

}
